
<footer class="section_footer">
    <div class="container">
        <div class="section_footer--box">
            <div class="section_footer__certificate">
                <p class="section_footer__certificate__content">
                    INSURE. All rights reserved 2017
                </p>
            </div>
            <nav class="footer__box__nav">
                <a href="" class="footer__box__nav__link">
                    Personal plans
                </a>
                <a href="" class="footer__box__nav__link ">
                    Business plans
                </a>
                <a href="" class="footer__box__nav__link footer__box__nav__link--margin">
                    Guide
                </a>
                <a href="" class="footer__box__nav__link footer__box__nav__link--margin">
                    Blog
                </a>
            </nav>
        </div>
    </div>
</footer>
</div>