<section class="heat_mobile">
    <div class="container">
        <header class="heat_mobile__header">
            <h1 class="heat_mobile__header__logo">
                INSURE.
            </h1>

            <button class="heat_mobile__header__button">
                <div class="heat_mobile__header__button__hamburger">
                </div>
                <div class="heat_mobile__header__button__hamburger">
                </div>
                <div class="heat_mobile__header__button__hamburger">
                </div>

            </button>
        </header>
        <nav class="header heat_mobile__menu"><a href="" class="header heat_mobile__link"></a><a href=""
                                                                                                 class="header heat_mobile__link"></a><a
                href="" class="header heat_mobile__link"></a><a href="" class="header heat_mobile__link"></a>
        </nav>
    </div>
</section>