<section class="insurance_table">
    <div class="container">
        <table class="insurance_table__table">
            <tr class="insurance_table__table__tr--heat">
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title">
                        company
                    </p>
                </td>
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title">
                        covering
                    </p>
                </td>
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title">
                        type
                    </p>
                </td>
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title">
                        metal level
                    </p>
                </td>
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title insurance_table__table__tr--letter-spacing">
                        drugs
                    </p>
                </td>
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title insurance_table__table__tr--letter-spacing">
                        primary<br>
                        <span class="insurance_table__table__tr--title--line_height">
                            care visits
                        </span>
                    </p>
                </td>
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title insurance_table__table__tr--letter-spacing">
                        Yearly<br>
                    <span class="insurance_table__table__tr--title--line_height">
                        Deductible
                    </span>
                    </p>
                </td>
                <td class="insurance_table__table__tr__td ">
                    <p class="insurance_table__table__tr--title insurance_table__table__tr--letter-spacing">
                        Price
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr--title"></td>
            </tr>



            <tr class="insurance_table__table__tr ">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--logo">
                    <img src="./images/pic/icon/icon_1.jpg" alt="" class="insurance_table__table__tr__icon">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Insurcom
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--covering">
                    <p class="insurance_table__table__tr__box__content">
                        Health
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--type">
                    <p class="insurance_table__table__tr__box__content">
                        PPO
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--metal_level">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--platinum"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Platinum
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--drugs">
                    <p class="insurance_table__table__tr__box__content">
                        $15
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--pimary">
                    <p class="insurance_table__table__tr__box__content">
                        $75
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--yearly">
                    <p class="insurance_table__table__tr__box__content">
                        $6000
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--price">
                    <p class="insurance_table__table__tr__box__content">
                    $356/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button ">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>
                </td>
            </tr>




            <tr class="insurance_table__table__tr">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--after">
                    <img src="./images/pic/icon/icon_2.png" alt="" class="insurance_table__table__tr__icon">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Health Ins
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <path id="Star 2" d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#1C1B1A" fill-opacity="0.15"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <path id="Star 2" d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#1C1B1A" fill-opacity="0.15"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        All-in-one
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        HMO
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--silver"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Silver
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        100%
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $45
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $4500
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $611/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>
                </td>
            </tr>




            <tr class="insurance_table__table__tr">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--after">
                    <img src="./images/pic/icon/icon_3.jpg" alt="" class="insurance_table__table__tr__icon  ">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Dentalife
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <path id="Star 2" d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#1C1B1A" fill-opacity="0.15"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        Dental
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        EPO
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--gold"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Gold
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        100%
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $75
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $5000
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $283/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>
                </td>
            </tr>



            <tr class="insurance_table__table__tr">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--after ">
                    <img src="./images/pic/icon/icon_1.jpg" alt="" class="insurance_table__table__tr__icon">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Insurcom
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        Vision
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        POS
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--bronze"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Bronze
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        100%
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $60
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $2600
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $214/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>
                </td>
            </tr>



            <tr class="insurance_table__table__tr">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--after">
                    <img src="./images/pic/icon/icon_4.jpg" alt="" class="insurance_table__table__tr__icon  ">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Medicon
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        Health
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        PPO
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--catastrophic"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Catastrophic
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $20
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        40%
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $6000
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $300/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>

                </td>
            </tr>



            <tr class="insurance_table__table__tr">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--after">
                    <img src="./images/pic/icon/icon_2.png" alt="" class="insurance_table__table__tr__icon">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Health Ins
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <path id="Star 2" d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#1C1B1A" fill-opacity="0.15"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <path id="Star 2" d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#1C1B1A" fill-opacity="0.15"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        Dental
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        POS
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--platinum"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Platinum
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $15
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $75
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $5000
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        $234/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>
                </td>
            </tr>



            <tr class="insurance_table__table__tr">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--after">
                    <img src="./images/pic/icon/icon_1.jpg" alt="" class="insurance_table__table__tr__icon">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Insurcom
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        Health
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        HMO
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--gold"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Gold
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        100%
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        $45
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        $4500
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        $366/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>
                </td>
            </tr>



            <tr class="insurance_table__table__tr">
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--after">
                    <img src="./images/pic/icon/icon_4.jpg" alt="" class="insurance_table__table__tr__icon  ">
                    <div class="insurance_table__table__tr__box">
                        <p class="insurance_table__table__tr__box__content--logo">
                            Medicon
                        </p>
                        <div class="insurance_table__table__tr__box__star_box">
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="insurance_table__table__tr__box__star">
                                <svg width="12" height="11" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Canvas" fill="none">
                                        <g id="Star 2">
                                            <path d="M 6 0L 7.34708 4.1459L 11.7063 4.1459L 8.17963 6.7082L 9.52671 10.8541L 6 8.2918L 2.47329 10.8541L 3.82037 6.7082L 0.293661 4.1459L 4.65292 4.1459L 6 0Z" fill="#FFC000"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        All-in-one
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content">
                        EPO
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <div class="insurance_table__table__tr__color insurance_table__table__tr__color--catastrophic"></div>
                    <p class="insurance_table__table__tr__box__content">
                        Catastrophic
                    </p>
                    <span class="insurance_table__table__tr__what">
                        ?
                    </span>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        $15
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        50%
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        $2600
                    </p>
                </td>
                <td class="insurance_table__table__tr__td">
                    <p class="insurance_table__table__tr__box__content ">
                        $371/mon
                    </p>
                </td>
                <td class="insurance_table__table__tr__td insurance_table__table__tr__td--button">
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--overviwe">Overview</button>
                    <button class="insurance_table__table__tr__button insurance_table__table__tr__button--buy">BUy</button>

                </td>
            </tr>
        </table>
    </div>
</section>