<section class="insurance_list">
    <div class="container">
        <div class="insurance_list--box">
            <h3 class="insurance_list__title">
                Insurance list:
            </h3>
            <nav class="insurance_list__menu">
                <button href="/" id="btn1" class="insurance_list__menu__link ">
                    <div class=" insurance_list__menu__link--table insurance_list__menu__link--table_card "></div>
                    <div class=" insurance_list__menu__link--table insurance_list__menu__link--table_card "></div>
                    <div class=" insurance_list__menu__link--table insurance_list__menu__link--table_card "></div>
                    <div class=" insurance_list__menu__link--table insurance_list__menu__link--table_card "></div>
                </button>
                <button href="/" id="btn2" class="insurance_list__menu__link insurance_list__menu__link--table_list">
                    <div class=" insurance_list__menu__link--card insurance_list__menu__link--card_card "></div>
                    <div class=" insurance_list__menu__link--card insurance_list__menu__link--card_card "></div>
                    <div class=" insurance_list__menu__link--card insurance_list__menu__link--card_card "></div>
                    <div class=" insurance_list__menu__link--card insurance_list__menu__link--card_card "></div>
                </button>
            </nav>
        </div>
    </div>
</section>